<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Apricots</string>
	<string>Avocados</string>
	<string>Beets</string>
	<string>Broccoli</string>
	<string>Carrots</string>
	<string>Cauliflower </string>
	<string>Cherries</string>
	<string>Corn</string>
	<string>Cucumber</string>
	<string>Garlic</string>
	<string>Grapefruits </string>
	<string>Mushrooms</string>
	<string>Peaches</string>
	<string>Plums</string>
	<string>Potatoes</string>
	<string>Radish</string>
	<string>Raspberries</string>
	<string>Strawberries</string>
	<string>Tomatoes</string>
	<string>Apples</string>
	<string>Cabbage</string>
	<string>Skirt</string>
	<string>T-shirt</string>
	<string>Coat </string>
	<string>Jeans</string>
	<string>Dress </string>
	<string>Shoes</string>
	<string>Shirt </string>
	<string>Hat</string>
	<string>Trousers</string>
	<string>Bag </string>
	<string>Watch</string>
	<string>Glasses</string>
	<string>Jacket</string>
	<string>Sweater</string>
	<string>Shorts</string>
	<string>Trainers</string>
	<string>Reflection</string>
	<string>Success</string>
	<string>Love</string>
	<string>Air</string>
	<string>Mile</string>
	<string>System</string>
	<string>Reason</string>
	<string>Window</string>
	<string>Child</string>
	<string>Translation</string>
	<string>Position</string>
	<string>Time</string>
	<string>Sun</string>
	<string>End</string>
	<string>Break</string>
	<string>Hospital</string>
	<string>Weather</string>
	<string>Button</string>
	<string>Education</string>
	<string>Light</string>
	<string>Black</string>
	<string>Tax</string>
	<string>Taxi</string>
	<string>Meet</string>
	<string>Rest</string>
	<string>Mountain</string>
	<string>Part</string>
	<string>Mouth</string>
	<string>Month</string>
	<string>Mouse</string>
	<string>Circle</string>
	<string>Computer</string>
	<string>Smartphone</string>
	<string>Plant</string>
	<string>Possibility</string>
	<string>Dream</string>
	<string>Spider</string>
	<string>Friend</string>
	<string>Relative</string>
	<string>Mother</string>
	<string>Father</string>
	<string>Sister</string>
	<string>Brother</string>
	<string>Daughter</string>
	<string>Son</string>
	<string>Sun</string>
	<string>September</string>
	<string>Cleaning</string>
	<string>Jogging</string>
	<string>Swimming</string>
	<string>Laughing</string>
	<string>Water</string>
	<string>Fire</string>
	<string>Problem</string>
	<string>Bug</string>
	<string>Technology</string>
	<string>Hobby</string>
	<string>Meeting</string>
	<string>Traveling</string>
	<string>House</string>
	<string>Flat</string>
	<string>Office</string>
	<string>Rainbow</string>
	<string>Rain</string>
	<string>Sunset</string>
	<string>Sunrise</string>
	<string>Shop</string>
	<string>Magazine</string>
	<string>Article</string>
	<string>Typing</string>
	<string>Economy</string>
	<string>Economics</string>
	<string>Police</string>
	<string>Partner</string>
	<string>Cancer</string>
	<string>Fish</string>
	<string>Treatment</string>
	<string>Socialist</string>
	<string>Attic</string>
	<string>Guideline</string>
	<string>Hill</string>
	<string>Biology</string>
	<string>Force</string>
</array>
</plist>
